@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background: #070b14;
  color: white;
  font-family: Inter, sans-serif;
}

.live-glow {
  box-shadow: 0 0 15px rgba(0,191,255,0.6);
}