body {
  margin: 0;
  background: #070b14;
  color: white;
  font-family: Arial, sans-serif;
}

.container {
  padding: 30px;
}

h1 {
  color: #00bfff;
  font-size: 48px;
}

.breaking {
  background: red;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 20px;
  font-weight: bold;
}

.card {
  background: #101827;
  padding: 20px;
  border-radius: 16px;
  margin-bottom: 15px;
  border: 1px solid #1f2937;
}